body {font-size: 15px;font-family: Roboto; margin: 0px;}
.container {width:auto;margin:0 auto;position:relative;} /* */
section.container {min-height:963px} 
.topnav {display:flex;min-height:80px;background:#33292a;justify-content:center;justify-items: center;gap: 7%;}
.topnav li {list-style-type: none;font-size:25px;font-weight: bold; border-right:1px; padding: 20px;}
.topnav li a:hover {color: lightblue}
.topnav li a {color:white;text-decoration:none}
a.icon {display:none}

.sec1 {background: url("scott-goodwill.jpg") 50% 50%;}
.sec2 {background-color: white; height: 50vh;}
.sec3 {background-color: #33292a; height: 55vh;}
.container-text {width:340px;text-align:right;bottom:11vh;right:10vw;position:absolute;}

h1 {font-size:76px;color: white}






.sec3-maintext{text-align: center; color: white; padding: 5vh;font-size: 40px; font-weight: bold;}
.sec3-text{text-align: center; color: white;padding: 30px 30px;}
@media screen and (width <= 768px) { /* w:390px */
  .container {width:100%}
  
  .topnav {
  /*display: none;*/
    }

    a.icon {display:block}
}

@media screen and (width <= 992px) { /* w:390px */
  .container {width:100%}
  
  .topnav {
  /*display: none;*/
    }

    a.icon {display:block}
}